// Gantt chart

@import "./common/IconFonts.styl"
@import "./common/Color.styl"

.gantt_hdr {
  position absolute
  top 0
  height 16px
  border-top 1px solid #c0c0c0
  border-bottom 1px solid #c0c0c0
  border-right 1px solid #c0c0c0
  text-align center
  overflow hidden

  &.nwday {
    background-color #f1f1f1
  }
}

.gantt_subjects {
  font-size 0.8em

  div {
    line-height 16px
    height 16px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }
}

.task {
  position: absolute;
  height:8px;
  font-size:0.8em;
  color:#888;
  padding:0;
  margin:0;
  line-height:16px;
  white-space:nowrap;

  &.label {
    width 100%

    &.project, &.version {
      font-weight bold
    }
  }
}


.task_late {
  background-color #f66
  border 1px solid #f66
}

.task_done {
  background-color #00c600
  border 1px solid #00c600
}

.task_todo {
  background-color #aaa
  border 1px solid #aaa

  &.parent {
    height 3px
    border 1px solid #888
    background #888
  }
}

.task_late.parent, .task_done.parent {
  height 3px
}

.task.parent.marker {
  &.starting  {
    position absolute
    left 0
    top -1px
    width 8px
    height 16px
    margin-left -4px
    background url(../images/task_parent_end.png) no-repeat 0 0
  }

  &.ending {
    position absolute
    right 0px
    top -1px
    width 8px
    height 16px
    margin-left -4px
    background url(../images/task_parent_end.png) no-repeat 0 0
  }
}

.version {
  &.task_late {
    background-color #f66
    border 1px solid #f66
    height 2px
    margin-top: 3px
  }

  &.task_done {
    background-color #00c600
    border 1px solid #00c600
    height 2px
    margin-top 3px
  }

  &.task_todo {
    background-color color_white
    border 1px solid color_white
    height 2px
    margin-top 3px
  }

  &.marker {
    background-image url(../images/version_marker.png)
    background-repeat no-repeat
    border 0
    margin-left -4px
    margin-top 1px
  }
}

.project {
  &.task_late {
    background-color #f66
    border 1px solid #f66
    height 2px
    margin-top 3px
  }

  &.task_done {
    background-color #00c600
    border 1px solid #00c600
    height 2px
    margin-top 3px
  }

  &.task_todo {
    background-color color_gray_light_a
    height 1px
    margin-top 6px
    margin-left 1px
  }

  &.marker:before {
    icon( icon_circle, color_blue )
    margin-top 1px
    margin-left -4px
  }
}

.version-behind-schedule a, .issue-behind-schedule a {
  color #f66914
}

.version-overdue a, .issue-overdue a, .project-overdue a {
  color #f00
}
