// theme-icon-classic-computer
icon_server_key = "\e61c"
// theme-icon-controller-fast-backward
icon_history = "\e600"
// theme-icon-document-landscape
icon_textfield = "\e61d"
// theme-icon-warningbefore
icon_warning = "\e601"
// theme-icon-arrow-long-down
icon_arrow_down = "\e602"
//theme-icon-arrow-long-left
icon_arrow_left = "\e603"
// theme-icon-arrow-long-right
icon_arrow_right = "\e604"
// theme-icon-arrow-long-up
icon_arrow_up = "\e605"
// theme-icon-chevron-thin-down
icon_chevron_down = "\e606"
// theme-icon-chevron-thin-left
icon_chevron_left = "\e607"
// theme-icon-chevron-thin-right
icon_chevron_right = "\e608"
// theme-icon-chevron-thin-up
icon_chevron_up = "\e609"
// theme-icon-flow-cascade
icon_projects = "\e620"
// theme-icon-save
icon_save = "\e60a"
// theme-icon-attachment
icon_attachment = "\e60b"
// theme-icon-bar-graph
icon_stats = "\e60c"
// theme-icon-box
icon_package = "\e60d"
// theme-icon-ccw
icon_reload = "\e60e"
// theme-icon-chat
icon_comments = "\e633"
// theme-icon-check
icon_check = "\e60f"
// theme-icon-circle-with-cross
icon_error = "\e610"
// theme-icon-circle-with-minus
icon_delete = "\e611"
// theme-icon-circle-with-plus
icon_add = "\e612"
// theme-icon-clipboard
icon_report = "\e634"
// theme-icon-cross
icon_cross = "\e613"
// theme-icon-cup
icon_trash = "\e614"
// theme-icon-cw
icon_reload_2 = "\e615"
// theme-icon-database
icon_database_key = "\e616"
// theme-icon-dial-pad
icon_table_multiple = "\e639"
// theme-icon-edit
icon_edit = "\e63a"
// theme-icon-flash
icon_lightning = "\e617"
// theme-icon-globe
icon_news = "\e63b"
// theme-icon-help-with-circle
icon_help = "\e63c"
// theme-icon-help
icon_help_2 = "\e63d"
// theme-icon-hour-glass
icon_hourglass = "\e63e"
// theme-icon-info-with-circle
icon_info = "\e618"
// theme-icon-info
icon_info_2 = "\e619"
// theme-icon-link
icon_link = "\e61a"
// theme-icon-list
icon_list = "\e61b"
// theme-icon-mail
icon_mail = "\e61e"
// theme-icon-message
icon_message = "\e63f"
// theme-icon-new-message
icon_wiki_edit = "\e61f"
// theme-icon-popup
icon_external = "\e640"
// theme-icon-rocket
icon_app = "\e641"
// theme-icon-rss
icon_feed = "\e621"
// theme-icon-squared-cross
icon_close = "\e622"
// theme-icon-squared-minus
icon_toggle_minus = "\e623"
// theme-icon-squared-plus
icon_toggle_plus = "\e624"
// theme-icon-star-outlined
icon_fav_off = "\e625"
// theme-icon-star
icon_fav = "\e626"
// theme-icon-stopwatch
icon_time = "\e627"
// theme-icon-ticket
icon_ticket = "\e628"
// theme-icon-user
icon_user = "\e629"
// theme-icon-users
icon_group = "\e62a"
// theme-icon-vinyl
icon_circle = "\e62b"
// theme-icon-image
icon_image = "\e642"
// theme-icon-file-empty
icon_file = "\e643"
// theme-icon-file-text2
icon_file_text = "\e644"
// theme-icon-file-picture
icon_file_image = "\e645"
// theme-icon-file-zip
icon_file_zip = "\e646"
// theme-icon-copy
icon_file_copy = "\e647"
// theme-icon-folder
icon_folder = "\e62c"
// theme-icon-folder-open
icon_folder_open = "\e62d"
// theme-icon-folder-plus
icon_folder_add = "\e62e"
// theme-icon-undo2
icon_undo = "\e62f"
// theme-icon-redo2
icon_redo = "\e630"
// theme-icon-forward
icon_forward = "\e631"
// theme-icon-reply
icon_reply = "\e632"
// theme-icon-search
icon_search = "\e635"
// theme-icon-zoom-in
icon_zoom_in = "\e636"
// theme-icon-zoom-out
icon_zoom_out = "\e637"
// theme-icon-key
icon_key = "\e648"
// theme-icon-lock
icon_lock = "\e649"
// theme-icon-unlocked
icon_unlock = "\e64a"
// theme-icon-wrench
icon_plugin = "\e64b"
// theme-icon-cog
icon_config = "\e638"
// theme-icon-list-numbered
icon_list_num = "\e64c"
// theme-icon-list2
icon_list_2 = "\e64d"
// theme-icon-bold
icon_edit_bold = "\e64e"
// theme-icon-underline
icon_edit_underline = "\e64f"
// theme-icon-italic
icon_edit_italic = "\e650"
// theme-icon-strikethrough
icon_edit_strike = "\e651"
// theme-icon-table2
icon_calendar = "\e652"
// theme-icon-paragraph-left
icon_unbq = "\e653"
// theme-icon-paragraph-right
icon_bq = "\e654"
// theme-icon-embed
icon_edit_pre = "\e655"
// theme-icon-file-pdf
icon_file_pdf = "\e656"
// theme-icon-controller-record
icon_circle_2 = "\e657"
// theme-icon-controller-stop
icon_square = "\e658"
// theme-icon-home
icon_home = "\e659"
// theme-icon-code
icon_code = "\e900"
// theme-icon-h1
icon_h1 = "\e901"
// theme-icon-h1
icon_h2 = "\e902"
// theme-icon-h1
icon_h3 = "\e903"

icon( content, color ) {
  font-family "icon"
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  // Better Font Rendering
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  content content
  color color
  margin-right .2em
}
