@font-face {
  font-family "icon"
  src url( "../fonts/icon.eot?-awtg43" )
  src url( "../fonts/icon.eot?#iefix-awtg43" ) format( "embedded-opentype" ),
    url( "../fonts/icon.ttf?-awtg43" ) format( "truetype" ),
    url( "../fonts/icon.woff?-awtg43" ) format( "woff" ),
    url( "../fonts/icon.svg?-awtg43#icon") format("svg" )
  font-weight normal
  font-style normal
}
