// JSToolbar

@import "./common/Color.styl"

jstb_button_style() {
  border solid 1px color_indigo !important
  border-radius .2em !important
  background none color_indigo !important
  color color_white !important
  width 28px !important
  height 28px !important
  margin-right .2em !important
  margin-bottom .2em !important
  padding 0 !important
  font-family sans-serif !important
  font-size 13px !important
  line-height 28px !important
  letter-spacing 0 !important
  vertical-align bottom
}

jstb_button_span_style() {
  display inline-block !important
  overflow hidden
  width 13px
  height 26px
  color transparent
}

// Overwrite only default buttons and menus
.jstElements {
  .jstb_strong {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_edit_bold, color_white )
        margin-right 0
      }
    }
  }

  .jstb_em {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_edit_italic, color_white )
        margin-right 0
      }
    }
  }

  .jstb_ins {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_edit_underline, color_white )
        margin-right 0
      }
    }
  }

  .jstb_del {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_edit_strike, color_white )
        margin-right 0
      }
    }
  }

  .jstb_code {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_code, color_white )
        margin-right 0
      }
    }
  }

  .jstb_h1 {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_h1, color_white )
        margin-right 0
      }
    }
  }

  .jstb_h2 {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_h2, color_white )
        margin-right 0
      }
    }
  }

  .jstb_h3 {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_h3, color_white )
        margin-right 0
      }
    }
  }

  .jstb_ul {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_list_2, color_white )
        margin-right 0
      }
    }
  }

  .jstb_ol {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_list_num, color_white )
        margin-right 0
      }
    }
  }

  .jstb_bq {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_bq, color_white )
        margin-right 0
      }
    }
  }

  .jstb_unbq {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_unbq, color_white )
        margin-right 0
      }
    }
  }

  .jstb_pre {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_edit_pre, color_white )
        margin-right 0
      }
    }
  }

  .jstb_link {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_link, color_red_light )
        margin-right 0
      }
    }
  }

  .jstb_img {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_image, color_viridian_light )
        margin-right 0
      }
    }
  }

  .jstb_help {
    jstb_button_style()

    &:hover {
      opacity .7
    }

    span {
      jstb_button_span_style()

      &:before {
        icon( icon_help, color_blue_light )
        margin-right 0
      }
    }
  }
}

// Replace image

.js-replace-icon-trash:before {
  icon( icon_trash, color_gray )
}

.js-replace-icon-check:before {
  icon( icon_check, color_green )
}

.js-replace-icon-cross:before {
  icon( icon_cross, color_red )
}

.js-replace-icon-warning:before {
  icon( icon_warning, color_red )
}

.js-replace-icon-add:before {
  icon( icon_add, color_green )
}

.js-replace-icon-edit:before {
  icon( icon_edit, color_yellow_dark )
}

.js-replace-icon-comment:before {
  icon( icon_message, color_blue )
}

.js-replace-icon-calendar:before {
  icon( icon_calendar, color_red )
  margin-left .5em
}

.js-replace-icon-toggle-plus:before {
  icon( icon_toggle_plus, color_gray )
}

.js-replace-icon-chevron-top:before {
  icon( icon_chevron_up, color_red )
}

.js-replace-icon-chevron-up:before {
  icon( icon_chevron_up, color_green )
}

.js-replace-icon-chevron-bottom:before {
  icon( icon_chevron_down, color_red )
}

.js-replace-icon-chevron-down:before {
  icon( icon_chevron_down, color_green )
}
