// JSToolbar

@import "./common/IconFonts.styl"
@import "./common/Color.styl"

.js-replace-jstElements {
  button {
    background none color_white
    padding 2px 0 0 0
    color color_indigo
    width 24px
    height 24px
    font-family sans-serif
    font-size 12px
    border solid 1px color_gray
    margin-right .2em
    border-radius .2em
    letter-spacing 0

    &:hover {
      background-color #E5E5E5
      border-color #BBBBBB
    }

    span {
      display none
    }
  }


  .help {
    float right
    font-size .9em
    margin-right .5em
    padding-top 8px

    a {
      background-image none
      padding 0

      &:before {
        content "\f059"
        font-family FontAwesome
        color #3498db
        margin-right .3em
        font-size 1.2em
      }
    }
  }

  .js-replace-icon-strong:before {
    icon( icon_edit_bold, color_indigo )
    margin-right 0
  }

  .js-replace-icon-italic:before {
    icon( icon_edit_italic, color_indigo )
    margin-right 0
  }

  .js-replace-icon-underline:before {
    icon( icon_edit_underline, color_indigo )
    margin-right 0
  }

  .js-replace-icon-strike:before {
    icon( icon_edit_strike, color_indigo )
    margin-right 0
  }

  .js-replace-icon-ul:before {
    icon( icon_list_2, color_indigo )
    margin-right 0
  }

  .js-replace-icon-ol:before {
    icon( icon_list_num, color_indigo )
    margin-right 0
  }


  .js-replace-icon-unbq:before {
    icon( icon_unbq, color_indigo )
    margin-right 0
  }

  .js-replace-icon-bq:before {
    icon( icon_bq, color_indigo )
    margin-right 0
  }

  .js-replace-icon-pre:before {
    icon( icon_edit_pre, color_indigo )
    margin-right 0
  }

  .js-replace-icon-link:before {
    icon( icon_link, color_gray )
    margin-right 0
  }

  .js-replace-icon-image:before {
    icon( icon_image, color_green )
    margin-right 0
  }

  .js-replace-icon-help:before {
    icon( icon_help, color_blue )
    margin-right 0
  }
}

.js-replace-icon-trash:before {
  icon( icon_trash, color_gray )
}

.js-replace-icon-check:before {
  icon( icon_check, color_green )
}

.js-replace-icon-edit:before {
  icon( icon_edit, color_yellow_dark )
}

.js-replace-icon-comment:before {
  icon( icon_message, color_blue )
}
