// Tables

@import "./common/Color.styl"

table.list {
  border 1px solid color_gray_light_a
  border-collapse collapse
  width 100%
  margin-bottom 4px
  font-size .9em

  th {
    border 1px solid color_gray_light_a
    background-color color_gray_light_b
    padding 4px
    white-space nowrap
    font-weight normal
    vertical-align middle
  }

  td {
    border 1px solid color_gray_light_a
    text-align center
    vertical-align middle
    padding .3em
  }

  td.id {
    width 2%
    text-align center
  }

  td.name, td.description, td.subject, td.comments, td.roles {
    text-align left
  }

  td.tick {
    width 15%
  }

  td.checkbox {
    width 1em
    padding .3em

    input {
      padding 0
    }
  }

  td.buttons {
    width 15%
    white-space nowrap
    text-align right

    a {
      padding-right 0.6em
    }

    img {
      vertical-align middle
    }
  }

  td.reorder {
    width 15%
    white-space nowrap
    text-align center
  }

  caption {
    text-align left
    padding .5em .5em .5em 0
  }

  tbody tr {
    &.group {
      &:hover {
        background-color inherit
      }

      td {
        padding .8em 0 .5em .3em
        font-weight bold
        border-bottom 1px solid color_gray_light_a
        text-align left
      }

      span.name {
        font-weight bold
      }

      span.count {
        position relative
        top -1px
        color color_white
        font-size 10px
        font-weight bold
        background #9DB9D5
        padding 0 6px 1px 6px
        border-radius 3px
        margin-left 4px
      }


      span.totals {
        color #aaa
        font-size .8em
      }

      span.totals .value {
        font-weight bold
        color #777
      }

      a.toggle-all {
        color #aaa
        font-size .8em
        display none
        float right
        margin-right 4px
      }
    }

    &:hover {
      background-color #dfeff7
    }
  }
}

tr.project {
  td.name a {
    white-space nowrap
  }

  &.closed, &.archived, &.archived a {
    color #aaa
  }

  &.idnt td.name span:before {
    icon( icon_chevron_right, color_gray_dark )
  }

  &.idnt-1 td.name {
    padding-left .5em
  }

  &.idnt-2 td.name {
    padding-left 2em
  }

  &.idnt-3 td.name {
    padding-left 3.5em
  }

  &.idnt-4 td.name {
    padding-left 5em
  }

  &.idnt-5 td.name {
    padding-left 6.5em
  }

  &.idnt-6 td.name {
    padding-left 8em
  }

  &.idnt-7 td.name {
    padding-left 9.5em
  }

  &.idnt-8 td.name {
    padding-left 11em
  }

  &.idnt-9 td.name {
    padding-left 12.5em
  }
}

tr.issue {
  text-align center
  white-space nowrap

  td.subject, td.category, td.assigned_to, td.string, td.text, td.relations, td.parent {
    white-space normal
  }

  td.relations {
    text-align left
  }

  td.done_ratio table.progress {
    margin-left auto
    margin-right auto
    width 100%

    td {
      padding 0
    }
  }

  td.relations span {
    white-space nowrap
  }

  &.idnt td.subject a:before {
    icon( icon_chevron_right, color_gray_dark )
  }

  &.idnt-1 td.subject {
    padding-left 0.5em
  }

  &.idnt-2 td.subject {
    padding-left 2em
  }

  &.idnt-3 td.subject {
    padding-left 3.5em
  }

  &.idnt-4 td.subject {
    padding-left 5em
  }

  &.idnt-5 td.subject {
    padding-left 6.5em
  }

  &.idnt-6 td.subject {
    padding-left 8em
  }

  &.idnt-7 td.subject {
    padding-left 9.5em
  }

  &.idnt-8 td.subject {
    padding-left 11em
  }

  &.idnt-9 td.subject {
    padding-left 12.5em
  }
}

table.issues {
  // Issue priority colors from Circle Theme ( http://www.redminecrm.com/pages/circle-theme )
  .priority-highest {
    color #900

    &.odd {
      background-color #ffe2e2

      &:hover {
        background-color #dfeff7
      }
    }

    &.even {
      background-color #faefef

      &:hover {
        background-color #dfeff7
      }
    }

    a, &:hover a {
      color #900
    }
  }

  .priority-high2 {
    color #900

    &.odd {
      background-color #ffe2e2

      &:hover {
        background-color #dfeff7
      }
    }

    &.even {
      background-color #faefef

      &:hover {
        background-color #dfeff7
      }
    }

    a, &:hover a {
      color #900
    }
  }

  .priority-high3 {
    color #900

    &.odd {
      background-color #ffeeee

      &:hover {
        background-color #dfeff7
      }
    }

    &.even {
      background-color #fff2f2

      &:hover {
        background-color #dfeff7
      }
    }

    a, &:hover a {
      color #900
    }
  }

  .priority-lowest {
    color #559

    &.odd {
      background-color #eaf7ff

      &:hover {
        background-color #dfeff7
      }
    }

    &.even {
      background-color #f2faff

      &:hover {
        background-color #dfeff7
      }
    }

    a, &:hover a {
      color #559
    }
  }

  td.description {
    color #777
    font-size .9em
    padding 4px 4px 4px 24px
    text-align left
    white-space normal

    pre {
      white-space normal
    }
  }
}

table.issue-report {
  table-layout fixed
}

// Entry
tr.entry {
  border 1px solid color_gray_light_b

  td {
    white-space nowrap
    padding .2em .5em

    &.filename {
      width 30%
      text-align left
    }

    &.filename_no_report {
      width 70%
      text-align left
    }

    &.size {
      text-align right
      font-size 90%
    }

    &.revision, tr.entry td.author {
      text-align center
    }

    &.age {
      text-align right
    }
  }

  &.file td.filename a {
    margin-left 1.3em
  }

  &.file td.filename_no_report a {
    margin-left 1.3em
  }
}

tr span.expander:before {
  icon( icon_toggle_plus, color_gray )
  font-size 12px
  padding-left .2em
  margin-right -.5em
  cursor pointer
}

tr.open span.expander:before {
  icon( icon_toggle_minus, color_gray )
  font-size 12px
  padding-left .2em
  margin-right -.5em
  cursor pointer
}

// Chnage set
tr.changeset {
  height 20px

  ul, ol {
    margin-top 0
    margin-bottom 0
  }

  td.revision_graph {
    width 15%
    background-color #fffffb
  }

  td.author {
    text-align center
    width 15%
    white-spacenowrap
  }

  td.committed_on {
    text-align center
    width 15%
    white-space nowrap
  }
}

// Files
table.files {
  tbody th {
    text-align left
  }

  tr.file {
    td.filename {
      text-align left
      padding-left 24px
    }

    td.digest {
      font-size 80%
    }
  }
}

table.members td.roles, table.memberships td.roles {
  width 45%
}

// Message
tr.message {
  height 2.6em

  &.locked td.subject:before {
    icon( icon_lock, color_yellow_dark )
  }

  &.sticky td.subject {
    font-weight bold

    &:before {
      icon( icon_arrow_right, color_green )
    }
  }

  td.subject {
    padding-left 20px
  }

  td.created_on {
    white-space nowrap
  }

  td.last_message {
    font-size 80%
    white-space nowrap
  }
}

// Version
tr.version {
  &.closed, &.closed a {
    color #999
  }

  &.shared td.name:before {
    icon( icon_link, color_gray )
  }

  td.name {
    padding-left 20px
  }

  td.date, td.status, td.sharing {
    text-align center
    white-space nowrap
  }
}

tr.user {
  td {
    width 13%
    white-space nowrap

    &.email {
      width 18%
    }
  }

  &.locked, &.locked a, &.registered, &.registered a {
    color color_gray
  }
}

td.username, td.firstname, td.lastname, td.email {
  text-align left !important
}

table.permissions td.role {
  color color_gray
  font-size .9em
  font-weight normal !important
  text-align center
  vertical-align bottom
}

tr.wiki-page-version td.updated_on, tr.wiki-page-version td.author {
  text-align center
}

tr.time-entry {
  text-align center
  white-space nowrap

  td.issue, td.comments {
    text-align left
    white-space normal
  }
}

td.hours {
  text-align right
  font-weight bold
  padding-right .5em

  .hours-dec {
    font-size .9em
  }
}

// Plugins
table.plugins {
  td {
    vertical-align middle

    &.configure {
      text-align right
      padding-right 1em
    }
  }

  span.name {
    font-weight bold
    display block
    margin-bottom 6px
  }

  span.description {
    display block
    font-size 0.9em
  }

  span.url {
    display block
    font-size 0.9em
  }
}

tr.group a.toggle-all {
  color color_gray
  font-size 80%
  font-weight normal
  display none
}

tr.group:hover a.toggle-all {
  display inline
}


a.toggle-all:hover {
  text-decoration none
}

table td {
  padding 2px
}

table p {
  margin 0
}

.odd {
  background-color color_gray_light_c
}

.even {
  background-color color_white
}

tr.builtin td.name {
  font-style italic
}

a.sort {
  &.asc:after  {
    icon( icon_chevron_up, color_gray_dark )
  }

  &.desc:after {
    icon( icon_chevron_down, color_gray_dark )
  }
}

table.attributes {
  width 100%

  th {
    vertical-align top
    text-align left
  }

  td {
    vertical-align top
  }
}

table.boards a.board, h3.comments {
  &:before {
    icon( icon_comment, color_blue )
  }
}

table.boards td.last-message {
  text-align left
  font-size 80%
}

table.messages td.last_message {
  text-align left
}

.query_sort_criteria_count {
  display inline-block
  min-width 1em
}

table.query-columns {
  border-collapse collapse
  border 0

  td.buttons {
    vertical-align middle
    text-align center

    input[type="button"] {
      width 35px
    }
  }
}

.query-totals {
  text-align right
  margin-top -2.3em

  > span {
    margin-left .6em
  }

  .value {
    font-weight bold
  }
}

td.center {
  text-align center
}

h3.version:before {
  icon( icon_package, color_yellow )
}

div.issues h3:before {
  icon( icon_ticket, color_yellow )
}

div.members h3:before {
  icon( icon_group, color_green )
}

div.news h3:before {
  icon( icon_news, color_gray )
}

div.projects h3:before {
  icon( icon_app, color_blue )
}

// Watchers
#watchers {
  select {
    width 95%
    display block
  }

  a.delete {
    opacity 0.4
    vertical-align middle
  }

  a.delete:hover {
    opacity 1
  }

  img.gravatar {
    margin 0 4px 2px 0
  }
}

span#watchers_inputs {
  overflow auto
  display block
}

span.search_for_watchers {
  display block
}

span.search_for_watchers, span.add_attachment {
  font-size .8em
  line-height 2.5em
}

span.search_for_watchers a, span.add_attachment a {
  &:before {
    icon( icon_add, color_green )
  }
}

.highlight {
  background-color #FCFD8D

  &.token-1 {
    background-color #faa
  }

  &.token-2 {
    background-color #afa
  }

  &.token-3 {
    background-color #aaf
  }
}

.box {
  margin-bottom 1em
  padding .5em
  background-color color_gray_light_c
  border 1px solid color_gray_light_a
  line-height 1.5em
  word-wrap break-word
  font-size .9em
}

.pagination .per-page span.selected {
  font-weight bold
}

div.square {
  border 1px solid #999
  float left
  margin .3em .4em 0 .4em
  overflow hidden
  width .6em
  height .6em
}

.contextual {
  float right
  white-space nowrap
  line-height 1.4em
  margin-top 5px
  padding-left 10px
  font-size .9em

  input, select {
    font-size .9em
  }
}

.message .contextual {
  margin-top 0
}

.splitcontent {
  overflow auto
}

.splitcontentleft {
  float left
  width 49%
}

.splitcontentright {
  float right
  width 49%
}

form {
  display inline
}

input, select {
  vertical-align middle
  margin-top 1px
  margin-bottom 1px
}

fieldset {
  border 1px solid #e4e4e4
  margin 0
}

legend {
  color #484848
}

hr {
  width 100%
  height 1px
  background #ccc
  border 0
}

blockquote {
  font-style italic
  border-left 2px solid color_green
  padding 0 .5em
  margin 1em
}

blockquote blockquote {
  margin-left 0
}

abbr, span[title] {
  border-bottom 1px dotted #aaa
  cursor help
}

textarea.wiki-edit {
  width 99%
  resize vertical
}

li p {
  margin-top 0
}

p.breadcrumb {
  margin 4px 0 4px 0
  font-size .9em
}

p.subtitle {
  margin -6px 0 12px 0
  font-size 0.9em
  font-style italic
}

p.footnote {
  margin-top 0
  margin-bottom 0
  font-size .9em
}

.ltr {
  direction ltr !important
  unicode-bidi bidi-override
}

.rtl {
  direction rtl !important
  unicode-bidi bidi-override
}

div.issue {
  background color_yellow_light
  padding .5em
  margin-bottom .5em
  border 1px solid #d7d7d7

  div.subject {
    div div {
      padding-left 16px
    }

    p {
      margin 0
      margin-bottom .1em
      font-size 90%
      color color_gray
    }

    > div > p {
      margin-top 0.5em
    }

    h3 {
      margin 0
      margin-bottom 0.1em
    }
  }

  span.private, div.journal span.private {
    position relative
    bottom 2px
    text-transform uppercase
    background #d22
    color color_white
    font-weight bold
    padding 0 2px 0 2px
    font-size 60%
    margin-right 2px
    border-radius 2px
  }

  .next-prev-links {
    color color_gray
  }

  table.attributes {
    th {
      width 22%
    }

    td {
      width 28%
    }
  }

  .attributes {
    margin-top 2em
  }

  .attribute {
    padding-left 180px
    clear left
    min-height 1.8em

    .label {
      width 170px
      margin-left -180px
      font-weight bold
      float left
    }
  }

  &.overdue .due-date .value {
    color #c22
  }


}

#issue-form {
}

// Issue histories
#history {
  font-size .9em

  h4 {
    font-size 1.2em
    padding-bottom .2em
    border-bottom dotted 2px color_gray_light_a
  }
}

#issue_tree table.issues, #relations table.issues {
  border 0
}

#issue_tree td.checkbox, #relations td.checkbox {
  display none
}

#relations td.buttons {
  padding 0
}

fieldset.collapsible {
  border-width 1px 0 0 0

  > legend {
    cursor pointer

    &:before {
      icon( icon_chevron_down, color_gray )
      font-weight bold
    }
  }

  &.collapsed > legend {
    &:before {
      icon( icon_chevron_right, color_gray )
      font-weight bold
    }
  }
}

fieldset {
  &#date-range p {
    margin 2px 0 2px 0
  }

  &#filters {
    table {
      border-collapse collapse
    }

    table td {
      padding 0
      vertical-align middle

      &.field {
        width 230px
      }

      &.operator {
        width 180px
      }

      &.operator select {
        max-width 170px
      }

      &.values {
        white-space nowrap
      }

      &.values select {
        min-width 130px
      }

      &.values input {
        height 1em
      }

      &.add-filter {
        text-align right
        vertical-align top
      }
    }

    tr.filter {
      height 2.1em
    }
  }
}

#filters-table {
  width 60%
  float left
}

.add-filter {
  width 35%
  float right
  text-align right
  vertical-align top
}

.toggle-multiselect:before {
  icon( icon_toggle_plus, color_gray )
  cursor pointer
}

.buttons {
  font-size .9em
  margin-bottom 1.4em
  margin-top 1em
}

div#issue-changesets {
  float right
  width 45%
  margin-left 1em
  margin-bottom 1em
  background color_white
  padding-left 1em
  font-size 90%

  div.changeset {
    padding 4px
    border-bottom 1px solid #ddd
  }

  p {
    margin-top 0
    margin-bottom 1em
  }
}

.journal ul.details img {
  margin 0 0 -3px 4px
}

div.journal {
  overflow auto

  &.private-notes {
    border-left 2px solid #d22
    padding-left 4px
    margin-left -6px
  }

  ul.details {
    color color_gray_light_b
    margin-bottom 1.5em

    a {
      color #70A7CD

      &:hover {
        color #D14848
      }
    }
  }
}

div#activity dd, #search-results dd {
  margin-bottom 1em
  padding-left 18px
  font-size .9em
}

div#activity dt, #search-results dt {
  margin-bottom 0
  padding-left 20px
  line-height 18px
  background-position 0 50%
  background-repeat no-repeat
}

div#activity dt.me .time {
  border-bottom 1px solid color_gray
}

div#activity dt .time {
  color #777
  font-size 80%
}

div#activity dd .description, #search-results dd .description {
  font-style italic
}

div#activity span.project:after, #search-results span.project:after {
  content " -"
}

div#activity dd span.description, #search-results dd span.description {
  display block
  color #808080
}

div#activity dt.grouped {
  margin-left 5em
}

div#activity dd.grouped {
  margin-left 9em
}

#search-results dd {
  margin-bottom 1em
  padding-left 20px
  margin-left 0
}

div#search-results-counts {
  float right

  ul {
    margin-top .5em
  }

  li {
    list-style-type none
    float left
    margin-left 1em
  }
}

dt {
  &.issue:before {
    icon( icon_ticket, color_green )
  }

  &.issue-edit:before {
    icon( icon_ticket, color_yellow_dark )
  }

  &.issue-closed:before {
    icon( icon_ticket, color_gray )
  }

  &.issue-note:before {
    icon( icon_ticket, color_blue )
  }

  &.changeset:before {
    icon( icon_config, color_gray )
  }

  &.news:before:before {
    icon( icon_news, color_gray )
  }

  &.message:before {
    icon( icon_message, color_blue )
  }

  &.reply:before {
    icon( icon_comments, color_blue )
  }

  &.wiki-page:before {
    icon( icon_wiki_edit, color_yellow_dark )
  }

  &.attachment:before {
    icon( icon_attachment, color_gray )
  }

  &.document:before {
    icon( icon_file_text, color_gray_dark )
  }

  &.project:before {
    icon( icon_projects, color_blue )
  }

  &.time-entry:before {
    icon( icon_hourglass, color_green )
  }
}

#search-results dt.issue.closed:before {
  icon( icon_check, color_green )
}

div#roadmap {
  .related-issues {
    margin-bottom 1em

    td.checkbox {
      display none
    }
  }

  .wiki h1 {
    font-size 1.2em

    &:first-child {
      display none
    }
  }

  .wiki h2 {
    font-size 1.1em
  }
}

body.controller-versions.action-show div#roadmap .related-issues {
  width 70%
}

div#version-summary {
  float right
  width 28%
  margin-left 16px
  margin-bottom 16px
  background-color color_white

  div#version-summary fieldset {
    margin-bottom 1em

    &.time-tracking table {
      width 100%
    }
  }

  th, td.total-hours {
    text-align right
  }
}

table#time-report {
  td.hours, th.period, th.total {
    text-align right
    padding-right 0.5em
  }

  tbody tr.subtotal {
    font-style italic
    color #777

    td.hours {
      color #b0b0b0
    }
  }

  tbody tr.total {
    font-weight bold
    background-color #EEEEEE
    border-top 1px solid #e4e4e4
  }

  table#time-report .hours-dec {
    font-size 0.9em
  }
}

div.wiki-page .contextual a {
  opacity 0.4

  &:hover {
    opacity 1
  }
}

form .attributes select {
  width 60%
}

input#issue_subject, input#document_title {
  width 99%
}

select#issue_done_ratio {
  width 95px
}

#related-issues li img {
  vertical-align middle
}

ul.properties {
  padding 0
  font-size .9em
  color #777

  li {
    list-style-type none

    span {
      font-style italic
    }
  }
}

.total-hours {
  font-size 1.1em
  font-weight bold

  span.hours-int {
    font-size 1.2em
  }
}

.autoscroll {
  overflow-x auto
  padding 1px
  margin-bottom 1.2em
}

#user_login, #user_firstname, #user_lastname, #user_mail, #my_account_form select, #user_form select, #user_identity_url {
  width 90%
}

#workflow_copy_form select {
  width 200px
}

table.transitions td.enabled {
  background #bfb
}

#workflow_form table select {
  font-size .9em
  max-width 100px
}

table.fields_permissions {
  td.readonly {
    background #ddd
  }

  td.required {
    background #d88
  }
}

select.expandable {
  vertical-align top
}

textarea#custom_field_possible_values {
  width 95%
  resize vertical
}

textarea#custom_field_default_value {
  width 95%
  resize vertical
}

input#content_comments {
  width 99%
}

p.pagination {
  margin-top 8px
  font-size 90%
}

span.pagination {
  margin-left 3px
  color color_gray_light_b
}

.pagination ul.pages {
  margin 0 5px 0 0
  padding 0
  display inline
}

.pagination ul.pages li {
  display inline-block
  padding 0
  border 1px solid #ccc
  margin-left -1px
  line-height 2em
  margin-bottom 1em
  white-space nowrap
  text-align center

  a, span {
    padding 3px 8px
  }

  &:first-child {
    border-top-left-radius 4px
    border-bottom-left-radius 4px
  }

  &:last-child {
    border-top-right-radius 4px
    border-bottom-right-radius 4px
  }

  &.current {
    color color_white
    background-color #628DB6
    border-color #628DB6
  }

  &.page:hover {
    background-color color_gray_light_c
  }

  a:hover, a:active {
    color inherit
    text-decoration inherit
  }
}

span.pagination > span {
  white-space nowrap
}

#search-form fieldset p {
  margin .2em 0
}
