// Tabs

@import "./common/Color.styl"

#content .tabs {
  height 2.6em
  margin-bottom 1.2em
  position relative
  overflow hidden

  ul {
    position absolute
    bottom 0
    width 2000px
    margin 0
    padding-left .5em
    border-bottom 1px solid #bbbbbb
  }

  ul li {
    float left
    list-style-type none
    white-space nowrap
    margin-right 4px
    background color_white
    position relative
    margin-bottom -1px
  }

  ul li a {
    display block
    font-size  .9em
    text-decoration none
    line-height 1.3em
    padding .3em .4em
    border 1px solid #ccc
    border-bottom 1px solid color_gray_light_a
    background-color color_gray_light_c
    color color_gray_dark

    &:hover {
      background-color color_yellow_light
      text-decoration none
    }

    &.selected {
      background-color color_white
      border 1px solid color_gray_light_a
      border-bottom 1px solid color_white
      color color_indigo

      &:hover {
        background-color color_white
      }
    }
  }
}

div.tabs-buttons {
  position absolute
  right 0
  width 4em
  bottom 0
  border-bottom solid 1px color_gray_light_a
}

button.tab-left, button.tab-right {
  position absolute
  padding .2em
  width 1.5em
  height 1.5em
  bottom -1px
  border 1px solid color_gray_light_a
  line-height .9em
  font-size .9em
  cursor pointer

  &:hover {
    background-color color_yellow_light
    text-decoration none
  }
}

button.tab-left {
  right 1.4em

  &:before {
    font-size .9em
    icon( icon_chevron_left, color_gray_dark )
  }
}

button.tab-right {
  right 0

  &:before {
    font-size .9em
    icon( icon_chevron_right, color_gray_dark )
  }
}
