// Tabs

@import "./common/IconFonts.styl"
@import "./common/Color.styl"

#content .tabs {
  height 2.6em
  margin-bottom 1.2em
  position relative
  overflow hidden

  ul {
    position absolute
    bottom 0
    width 2000px
    margin 0
    padding-left .5em
    border-bottom 1px solid #bbbbbb
  }

  ul li {
    float left
    list-style-type none
    white-space nowrap
    margin-right 4px
    background color_white
    position relative
    margin-bottom -1px
  }

  ul li a {
    display block
    font-size  .9em
    text-decoration none
    line-height 1.3em
    padding 4px 6px 4px 6px
    border 1px solid #ccc
    border-bottom 1px solid color_gray_light_a
    background-color color_gray_light_c
    color color_gray_dark

    &:hover {
      background-color color_yellow_light
      text-decoration none
    }

    &.selected {
      background-color color_white
      border 1px solid color_gray_light_a
      border-bottom 1px solid color_white
      color color_indigo

      &:hover {
        background-color color_white
      }
    }
  }
}

div.tabs-buttons {
  position absolute
  right 0
  width 48px
  height 24px
  background color_white
  bottom 0
  border-bottom 1px
  solid #bbbbbb
}

button.tab-left, button.tab-right {
  font-size 0.9em
  cursor pointer
  height 24px
  border 1px solid #ccc
  border-bottom 1px solid #bbbbbb
  position absolute
  padding 4px
  width 20px
  bottom -1px
}

button.tab-left {
  icon( icon_chevron_left, color_gray_dark )
  right 20px
  border-top-left-radius 3px
}

button.tab-right {
  icon( icon_chevron_right, color_gray_dark )
  right 0
  border-top-right-radius 3px
}
