// Date picker

@import "./common/IconFonts.styl"
@import "./common/Color.styl"

.ui-widget {
  font-size .9em
}

// Custom jQuery styles
.ui-datepicker-title select {
  margin-top -2px !important
  margin-right 4px !important
}

.ui-dialog.modal .ui-widget-header {
  border 0
  color #3d454c
  background #fafafa
  padding-top 18px
  padding-bottom 18px
  color #3d454c
  font-size 24px
  font-weight normal
  text-align center
  border-bottom solid 1px #ced4d9
  margin -10px -10px 5px -10px
  border-radius 0px
}

.ui-datepicker {
  th {
    color color_gray
    font-weight normal
  }

  th[scope="col"] span {
    border none
  }

  select {
    &.ui-datepicker-month, &.ui-datepicker-year {
      width auto
    }
  }

  .ui-widget-header {
    background color_white
    border 0px
    border-bottom solid 1px #ced4d9
    border-radius 0px
    padding 5px
    margin -1px
  }

  .ui-datepicker-buttonpane button {
    font-weight normal
    font-size .7em
    border solid 2px color_red
    border-radius .2em
    color color_red

    &:hover {
      background-color color_red
      color color_white
    }

    &.ui-datepicker-close {
      border solid 2px color_blue
      color color_blue

      &:hover {
        background-color color_blue
        color color_white
      }
    }
  }

  .ui-datepicker-next {
    top 5px
    right 10px
  }

  .ui-datepicker-prev {
    top 5px
    left 10px
  }

  .ui-state-default:hover {
    background #f6f6f6
  }

  .ui-state-active {
    background #D2EEFF
  }

  .ui-state-highlight {
    color color_red
  }

  .ui-state-highlight:hover {
    background-color #ffd8d6
  }

  .ui-state-default {
    color color_indigo
    border 1px solid color_white
    background color_white
    font-weight normal
  }

  .ui-datepicker-buttonpane {
    padding-top .5em
  }

}

.ui-widget-content {
  background color_white
}

.ui-widget-content select, .ui-widget-content input[type="text"],
.ui-datepicker .ui-datepicker-title select {
  font-size .7em
  font-weight normal
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background #f2f4f5
  color #3d454c
  border 1px solid #f2f4f5
  border-radius 0
  font-weight normal
}

// Header
.ui-widget-header {
  font-weight normal

  .ui-datepicker-title {
    color #3d454c
  }

  .ui-icon {
    background-image none
    text-indent 0
    font-size .8em
  }

  .ui-icon-circle-triangle-e:before {
    icon( icon_chevron_right, color_blue )
  }

  .ui-icon-circle-triangle-w:before {
    icon( icon_chevron_left, color_blue )
  }

  .ui-icon.ui-icon-closethick:before {
    icon( icon_close, color_blue )
  }

  .ui-state-hover .ui-icon.ui-icon-closethick:before {
    icon( icon_close, color_red )
  }
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background #FFD5C9
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background #D2EEFF
}

#ui-datepicker-div {
  padding 10px
}

.ui-datepicker-week-col, .ui-datepicker .ui-priority-secondary {
  color color_gray
}

.ui-dialog .ui-dialog-titlebar-close {
  right 1em
  background #fafafa
  border 0px
}
