// Wiki

@import "./common/IconFonts.styl"
@import "./common/Color.styl"

div.wiki table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

div.wiki table, div.wiki td, div.wiki th {
  border: 1px solid #bbb;
  padding: 4px;
}

div.wiki .noborder, div.wiki .noborder td, div.wiki .noborder th {border:0;}

div.wiki .external:before {
  icon( icon_external, color_gray )
}

div.wiki a {word-wrap: break-word;}
div.wiki a.new {color: #b73535;}

div.wiki ul, div.wiki ol {margin-bottom:1em;}
div.wiki li>ul, div.wiki li>ol {margin-bottom: 0;}

div.wiki pre {
  margin: 1em 1em 1em 1.6em;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  width:auto;
  overflow-x: auto;
  overflow-y: hidden;
}

div.wiki ul.toc {
  background-color: #ffffdd;
  border: 1px solid #e4e4e4;
  padding: 4px;
  line-height: 1.2em;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: 0;
  display: table
}
* html div.wiki ul.toc { width: 50%; } /* IE6 doesn't autosize div */

div.wiki ul.toc.right { float: right; margin-left: 12px; margin-right: 0; width: auto; }
div.wiki ul.toc.left  { float: left; margin-right: 12px; margin-left: 0; width: auto; }
div.wiki ul.toc ul { margin: 0; padding: 0; }
div.wiki ul.toc li {list-style-type:none; margin: 0; font-size:12px;}
div.wiki ul.toc li li {margin-left: 1.5em; font-size:10px;}
div.wiki ul.toc a {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  color: #606060;
}
div.wiki ul.toc a:hover { color: #c61a1a; text-decoration: underline;}

a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }

div.wiki img {vertical-align:middle; max-width:100%;}
