// Icons

@import "./Variables.scss";

@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot?bmd5h3");
  src: url("../fonts/icon.eot?bmd5h3#iefix") format("embedded-opentype"),
    url("../fonts/icon.ttf?bmd5h3") format("truetype"),
    url("../fonts/icon.woff?bmd5h3") format("woff"),
    url("../fonts/icon.svg?bmd5h3#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  @include iconbase();
}

.icon-add:before {
  @include icon($icon_add, $color_green)
}

.icon-edit:before {
  @include icon($icon_edit, $color_yellow_dark)
}

.icon-copy:before {
  @include icon($icon_file_copy, $color_gray)
}

.icon-duplicate:before {
  @include icon($icon_file_copy, $color_green)
}

.icon-del:before {
  @include icon($icon_trash, $color_gray)
}

.icon-move:before {
  @include icon($icon_redo, $color_yellow)
}

.icon-save:before {
  @include icon($icon_save, $color_blue)
}

.icon-cancel:before {
  @include icon($icon_undo, $color_yellow)
}

.icon-multiple:before {
  @include icon($icon_table_multiple, $color_blue)
}

.icon-folder:before {
  @include icon($icon_folder, $color_blue)
}
.open .icon-folder:before {
  @include icon($icon_folder_open, $color_blue)
}

.icon-package:before {
  @include icon($icon_package, $color_orange)
}

.icon-user:before {
  @include icon($icon_user, $color_green)
}

.icon-projects:before {
  @include icon($icon_app, $color_blue)
}

.icon-settings:before {
  @include icon($icon_config, $color_blue)
}

.icon-group:before {
  @include icon($icon_group, $color_green)
}

.icon-roles:before {
  @include icon($icon_database_key, $color_gray)
}

.icon-issue-edit:before {
  @include icon($icon_ticket, $color_green)
}

.icon-workflows:before {
  @include icon($icon_ticket, $color_blue)
}

.icon-custom-fields:before {
  @include icon($icon_textfield, $color_gray)
}

.icon-plugins:before {
  @include icon($icon_plugin, $color_green)
}

.icon-help:before {
  @include icon($icon_help, $color_blue)
}

.icon-attachment:before {
  @include icon($icon_attachment, $color_gray)
}

.icon-history:before {
  @include icon($icon_history, $color_gray)
}

.icon-time:before {
  @include icon($icon_time, $color_gray)
}

.icon-time-add:before {
  @include icon($icon_time, $color_green)
}

.icon-stats:before {
  @include icon($icon_stats, $color_purple)
}

.icon-warning:before {
  @include icon($icon_warning, $color_red)
}

.icon-error:before {
  @include icon($icon_error, $color_red)
}

.icon-fav:before {
  @include icon($icon_fav, $color_yellow)
}

.icon-fav-off:before {
  @include icon($icon_fav_off, $color_gray)
}

.icon-reload:before {
  @include icon($icon_reload, $color_green)
}

.icon-lock:before {
  @include icon($icon_lock, $color_yellow_dark)
}

.icon-locked:before {
  @include icon($icon_lock, $color_yellow_dark)
}

.icon-unlock:before {
  @include icon($icon_unlock, $color_yellow_dark)
}

.icon-checked:before {
  @include icon($icon_check, $color_green)
}

.icon-details:before {
  @include icon($icon_zoom_in, $color_green)
}

.icon-report:before                {
  @include icon($icon_report, $color_blue)
}

.icon-comment:before {
  @include icon($icon_message, $color_blue)
}

.icon-comments:before {
  @include icon($icon_comments, $color_blue)
}

.icon-summary:before {
  @include icon($icon_lightning, $color_yellow)
}

.icon-server-authentication:before {
  @include icon($icon_server_key, $color_yellow)
}

.icon-issue:before {
  @include icon($icon_ticket, $color_yellow)
}

.icon-zoom-in:before {
  @include icon($icon_zoom_in, $color_green)
}

.icon-zoom-out:before {
  @include icon($icon_zoom_out, $color_red)
}

.icon-magnifier:before {
  @include icon($icon_zoom_in, $color_blue)
}

.icon-passwd:before {
  @include icon($icon_textfield, $color_gray)
}

.icon-test:before {
  @include icon($icon_arrow_right, $color_green)
}

.icon-email:before {
  @include icon($icon_mail, $color_blue)
}

.icon-email-disabled:before {
  @include icon($icon_mail, $color_gray)
}

.icon-email-add:before {
  @include icon($icon_mail, $color_green)
}

.icon-move-up:before {
  @include icon($icon_chevron_up, $color_green)
}

.icon-move-top:before {
  @include icon($icon_chevron_up, $color_red)
}

.icon-move-down:before {
  @include icon($icon_chevron_down, $color_green)
}
.icon-move-bottom:before {
  @include icon($icon_chevron_down, $color_red)
}

.icon-ok:before {
  @include icon($icon_check, $color_green)
}

.icon-not-ok:before {
  @include icon($icon_cross, $color_red)
}

.icon-link-break:before {
  @include icon($icon_trash, $color_gray)
}

.icon-list:before {
  @include icon($icon_list_2, $color_gray)
}

.icon-close:before {
  @include icon($icon_error, $color_gray)
}

.icon-add-bullet:before {
  @include icon($icon_add, $color_green)
}

.icon-download:before {
  @include icon($icon_download, $color_blue)
}

.icon-sticky:before {
  @include icon($icon_arrow_right, $color_green)
}

.icon-news:before {
  @include icon($icon_news, $color_gray)
}

.icon-shared:before {
  @include icon($icon_link, $color_gray)
}

.icon-file:before {
  @include icon($icon_file, $color_gray)
}

.icon-file.text-plain:before {
  @include icon($icon_file_text, $color_blue)
}

.icon-file.text-x-c:before {
  @include icon($icon_file_text, $color_blue)
}

.icon-file.text-x-csharp:before {
  @include icon($icon_file_text, $color_blue)
}

.icon-file.text-x-java:before {
  @include icon($icon_file_text, $color_yellow_dark)
}

.icon-file.text-x-javascript:before {
  @include icon($icon_file_text, $color_yellow_dark)
}

.icon-file.text-x-php:before {
  @include icon($icon_file_text, $color_purple)
}

.icon-file.text-x-ruby:before {
  @include icon($icon_file_text, $color_red)
}

.icon-file.text-xml:before {
  @include icon($icon_file_text, $color_green)
}

.icon-file.text-css:before {
  @include icon($icon_file_text, $color_orange)
}

.icon-file.text-html:before {
  @include icon($icon_file_text, $color_green)
}

.icon-file.image-gif:before {
  @include icon($icon_file_image, $color_green)
}

.icon-file.image-jpeg:before {
  @include icon($icon_file_image, $color_green)
}

.icon-file.image-png:before {
  @include icon($icon_file_image, $color_green)
}

.icon-file.image-tiff:before {
  @include icon($icon_file_image, $color_green)
}

.icon-file.application-pdf:before {
  @include icon($icon_file_pdf, $color_red)
}

.icon-file.application-zip:before {
  @include icon($icon_file_zip, $color_yellow)
}

.icon-file.application-x-gzip:before {
  @include icon($icon_file_zip, $color_green)
}

// Override the default icon images padding
.icon {
  &.icon-add,
  &.icon-edit,
  &.icon-copy,
  &.icon-duplicate,
  &.icon-del,
  &.icon-move,
  &.icon-save,
  &.icon-cancel,
  &.icon-multiple,
  &.icon-folder,
  &.open .icon-folder,
  &.icon-package,
  &.icon-user,
  &.icon-projects,
  &.icon-group,
  &.icon-roles,
  &.icon-issue-edit,
  &.icon-workflows,
  &.icon-custom-fields,
  &.icon-settings,
  &.icon-plugins,
  &.icon-help,
  &.icon-attachment,
  &.icon-history,
  &.icon-time,
  &.icon-time-add,
  &.icon-stats,
  &.icon-warning,
  &.icon-error,
  &.icon-fav,
  &.icon-fav-off,
  &.icon-reload,
  &.icon-lock,
  &.icon-locked,
  &.icon-unlock,
  &.icon-checked,
  &.icon-details,
  &.icon-report,
  &.icon-comment,
  &.icon-comments,
  &.icon-summary,
  &.icon-server-authentication,
  &.icon-issue,
  &.icon-zoom-in,
  &.icon-zoom-out,
  &.icon-magnifier,
  &.icon-passwd,
  &.icon-test,
  &.icon-email,
  &.icon-email-disabled,
  &.icon-email-add,
  &.icon-move-up,
  &.icon-move-top,
  &.icon-move-down,
  &.icon-move-bottom,
  &.icon-ok,
  &.icon-not-ok,
  &.icon-link-break,
  &.icon-list,
  &.icon-close,
  &.icon-add-bullet,
  &.icon-download,
  &.icon-sticky,
  &.icon-news,
  &.icon-file,
  &.icon-shared,
  &.icon-file.text-plain,
  &.icon-file.text-x-c,
  &.icon-file.text-x-csharp,
  &.icon-file.text-x-java,
  &.icon-file.text-x-javascript,
  &.icon-file.text-x-php,
  &.icon-file.text-x-ruby,
  &.icon-file.text-xml,
  &.icon-file.text-css,
  &.icon-file.text-html,
  &.icon-file.image-gif,
  &.icon-file.image-jpeg,
  &.icon-file.image-png,
  &.icon-file.image-tiff,
  &.icon-file.application-pdf,
  &.icon-file.application-zip,
  &.icon-file.application-x-gzip {
    padding: 0;
  }
}

.icon-only {
  &.icon-add,
  &.icon-edit,
  &.icon-copy,
  &.icon-duplicate,
  &.icon-del,
  &.icon-move,
  &.icon-save,
  &.icon-cancel,
  &.icon-multiple,
  &.icon-folder,
  &.open .icon-folder,
  &.icon-package,
  &.icon-user,
  &.icon-projects,
  &.icon-group,
  &.icon-roles,
  &.icon-issue-edit,
  &.icon-workflows,
  &.icon-custom-fields,
  &.icon-settings,
  &.icon-plugins,
  &.icon-help,
  &.icon-attachment,
  &.icon-history,
  &.icon-time,
  &.icon-time-add,
  &.icon-stats,
  &.icon-warning,
  &.icon-error,
  &.icon-fav,
  &.icon-fav-off,
  &.icon-reload,
  &.icon-lock,
  &.icon-locked,
  &.icon-unlock,
  &.icon-checked,
  &.icon-details,
  &.icon-report,
  &.icon-comment,
  &.icon-comments,
  &.icon-summary,
  &.icon-server-authentication,
  &.icon-issue,
  &.icon-zoom-in,
  &.icon-zoom-out,
  &.icon-magnifier,
  &.icon-passwd,
  &.icon-test,
  &.icon-email,
  &.icon-email-disabled,
  &.icon-email-add,
  &.icon-move-up,
  &.icon-move-top,
  &.icon-move-down,
  &.icon-move-bottom,
  &.icon-ok,
  &.icon-not-ok,
  &.icon-link-break,
  &.icon-list,
  &.icon-close,
  &.icon-add-bullet,
  &.icon-download,
  &.icon-sticky,
  &.icon-news,
  &.icon-shared,
  &.icon-file,
  &.icon-file.text-plain,
  &.icon-file.text-x-c,
  &.icon-file.text-x-csharp,
  &.icon-file.text-x-java,
  &.icon-file.text-x-javascript,
  &.icon-file.text-x-php,
  &.icon-file.text-x-ruby,
  &.icon-file.text-xml,
  &.icon-file.text-css,
  &.icon-file.text-html,
  &.icon-file.image-gif,
  &.icon-file.image-jpeg,
  &.icon-file.image-png,
  &.icon-file.image-tiff,
  &.icon-file.application-pdf,
  &.icon-file.application-zip,
  &.icon-file.application-x-gzip {
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    font-size: 1em;
    color: transparent !important;

    &:after {
      content: "";
    }
  }
}
