$color_white: #fff;
$color_black: #000;
$color_text: #2c3e50;

$color_indigo_light: #43586d;
$color_indigo: #34495e;
$color_indigo_dark: #2c3e50;

$color_gray_light_c: #f6f8f8;
$color_gray_light_b: #ecf0f1;
$color_gray_light_a: #bdc3c7;
$color_gray: #95a5a6;
$color_gray_dark: #7f8c8d;

$color_red_light: #fddad8;
$color_red: #e74c3c;
$color_red_dark: #c0392b;

$color_purple: #9b59b6;
$color_purple_dark: #8e44ad;

$color_blue_light: #68bffa;
$color_blue: #3498db;
$color_blue_dark: #2980b9;

$color_green_light: #c2ffda;
$color_green: #2ecc71;
$color_green_dark: #27ae60;

$color_viridian_light: #61eecc;
$color_viridian: #1abc9c;
$color_viridian_dark: #16a085;

$color_orange_light: #fed6b4;
$color_orange: #e67e22;
$color_orange_dark: #d35400;

$color_yellow_light: #ffffdd;
$color_yellow: #f1c40f;
$color_yellow_dark: #f39c12;

// Custom
$color_page_back: #fbfcfa;

$color_syntax_back: #414141;
$color_syntax_base: #fff;
$color_syntax_gray: #F1F1F0;
$color_syntax_red: #DA6A67;
$color_syntax_purple: #DAACDF;
$color_syntax_blue: #7FAAC6;
$color_syntax_blue_light: #C9DFFE;
$color_syntax_green: #B4C978;
$color_syntax_yellow: #E7BC79;

// icon-rocket
$icon_app: "\e641";
// icon-code
$icon_code: "\e900";
// icon-h1
$icon_h1: "\e901";
// icon-h1
$icon_h2: "\e902";
// icon-h1
$icon_h3: "\e903";
// icon-link
$icon_link: "\e61a";
// icon-attachment
$icon_attachment: "\e60b";
// icon-help-with-circle
$icon_help: "\e63c";
// icon-help
$icon_help_2: "\e63d";
// icon-info-with-circle
$icon_info: "\e618";
// icon-info
$icon_info_2: "\e619";
// icon-warningbefore
$icon_warning: "\e601";
// icon-circle-with-cross
$icon_error: "\e610";
// icon-circle-with-plus
$icon_add: "\e612";
// icon-circle-with-minus
$icon_delete: "\e611";
// icon-squared-cross
$icon_close: "\e622";
// icon-squared-plus
$icon_toggle_plus: "\e624";
// icon-squared-minus
$icon_toggle_minus: "\e623";
// icon-user
$icon_user: "\e629";
// icon-users
$icon_group: "\e62a";
// icon-star-outlined
$icon_fav_off: "\e625";
// icon-star
$icon_fav: "\e626";
// icon-check
$icon_check: "\e60f";
// icon-cross
$icon_cross: "\e613";
// icon-controller-fast-backward
$icon_history: "\e600";
// icon-updown
$icon_updown: "\e905";
// icon-arrow-long-up
$icon_arrow_up: "\e605";
// icon-arrow-long-down
$icon_arrow_down: "\e602";
//theme-icon-arrow-long-left
$icon_arrow_left: "\e603";
// icon-arrow-long-right
$icon_arrow_right: "\e604";
// icon-chevron-thin-up
$icon_chevron_up: "\e609";
// icon-chevron-thin-down
$icon_chevron_down: "\e606";
// icon-chevron-thin-left
$icon_chevron_left: "\e607";
// icon-chevron-thin-right
$icon_chevron_right: "\e608";
// icon-ccw
$icon_reload: "\e60e";
// icon-cw
$icon_reload_2: "\e615";
// icon-message
$icon_message: "\e63f";
// icon-chat
$icon_comments: "\e633";
// icon-new-message
$icon_wiki_edit: "\e61f";
// icon-edit
$icon_edit: "\e63a";
// icon-vinyl
$icon_circle: "\e62b";
// icon-controller-record
$icon_circle_2: "\e657";
// icon-controller-stop
$icon_square: "\e658";
// icon-cup
$icon_trash: "\e614";
// icon-classic-computer
$icon_server_key: "\e61c";
// icon-document-landscape
$icon_textfield: "\e61d";
// icon-flow-cascade
$icon_projects: "\e620";
// icon-save
$icon_save: "\e60a";
// icon-bar-graph
$icon_stats: "\e60c";
// icon-box
$icon_package: "\e60d";
// icon-clipboard
$icon_report: "\e634";
// icon-database
$icon_database_key: "\e616";
// icon-dial-pad
$icon_table_multiple: "\e639";
// icon-flash
$icon_lightning: "\e617";
// icon-globe
$icon_news: "\e63b";
// icon-hour-glass
$icon_hourglass: "\e63e";
// icon-list
$icon_list: "\e61b";
// icon-mail
$icon_mail: "\e61e";
// icon-popup
$icon_external: "\e640";
// icon-rss
$icon_feed: "\e621";
// icon-stopwatch
$icon_time: "\e627";
// icon-ticket
$icon_ticket: "\e628";
// icon-download
$icon_download: "\e909";
// icon-upload
$icon_upload: "\e90a";
// icon-bold
$icon_edit_bold: "\e64e";
// icon-italic
$icon_edit_italic: "\e650";
// icon-underline
$icon_edit_underline: "\e64f";
// icon-strikethrough
$icon_edit_strike: "\e651";
// icon-js
$icon_js: "\e906";
// icon-list2
$icon_list_2: "\e64d";
// icon-list-numbered
$icon_list_num: "\e64c";
// icon-paragraph-left
$icon_unbq: "\e653";
// icon-paragraph-right
$icon_bq: "\e654";
// icon-embed
$icon_edit_pre: "\e655";
// icon-embed2
$icon_edit_pre2: "\e904";
// icon-image
$icon_image: "\e642";
// icon-file-empty
$icon_file: "\e643";
// icon-copy
$icon_file_copy: "\e647";
// icon-file-text2
$icon_file_text: "\e644";
// icon-file-pdf
$icon_file_pdf: "\e656";
// icon-file-picture
$icon_file_image: "\e645";
// icon-file-zip
$icon_file_zip: "\e646";
// icon-search
$icon_search: "\e635";
// icon-zoom-in
$icon_zoom_in: "\e636";
// icon-zoom-out
$icon_zoom_out: "\e637";
// icon-folder
$icon_folder: "\e62c";
// icon-folder-open
$icon_folder_open: "\e62d";
// icon-folder-plus
$icon_folder_add: "\e62e";
// icon-cog
$icon_config: "\e638";
// icon-wrench
$icon_plugin: "\e64b";
// icon-lock
$icon_lock: "\e649";
// icon-unlocked
$icon_unlock: "\e64a";
// icon-key
$icon_key: "\e648";
// icon-undo2
$icon_undo: "\e62f";
// icon-forward
$icon_forward: "\e631";
// icon-redo2
$icon_redo: "\e630";
// icon-reply
$icon_reply: "\e632";
// icon-home
$icon_home: "\e659";
// icon-table2
$icon_calendar: "\e652";
// icon-ruby
$icon_ruby: "\e907";
// icon-hr
$icon_hr: "\e908";
// dots-three-horizontal
$icon_actions: "\e90b";

@mixin iconbase {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: .2em;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($content, $color) {
  content: $content;
  color: $color;
}
